	body {
		margin: 0px;
	}

	#tabbar {
		padding-top: 2px;
		padding-bottom: 2px;
		border: 0px;
		border-bottom: 2px;
		border-style: solid;
		background-color: rgba(255,255,255,0.5);
		border-color: #333;
	}

	#tabbar a {
		padding: 3px 10px 2px 10px;
		border-top: 0px;
		border-right: 2px;
		border-left: 2px;
		border-bottom: 0px;
		border-style: solid;
		border-color: rgba(0,0,0,0);
		color: #888;
		text-decoration: none;
	}

	#tabbar .selected {
		border-color: #333;
		color: #333;
		background-color: #eec;
	}

	#can { /* float below */
		position: absolute;
		top: 0px;
		left: 0;
		z-index: -1;
		background-color: #323232;
   		height: 100%;
   	}
   	
.fb-profile-pic
{
	padding: 5px;
	background-color:black;
}

.div-hidden 
{
	position: absolute;
	top: -80000px;
	right: 80000px;	
}

.fb-friends-div-pc 
{
	padding: 5%;
	position: absolute;
	top: 0px;
	left: 0px;	
	background-color: #272727;
	width: 100%;
}

.get-friends-btn-pc
{
	position: absolute;
	bottom: 10px;
	right: 455px;	
	width: 175px;
}

.show-upload-btn-pc
{
	position: absolute;
	bottom: 10px;
	right: 10px;	
	width: 225px;
}

.upload-file-btn 
{
	width: 175px;
	
}

.upload-header-or-text-div-pc
{
	color:white; 
	position: absolute; 
	right: 197.5px; 
	bottom: 22px;
}

.upload-header-or2-text-div-pc
{
	color:white; 
	position: absolute; 
	right: 420.5px; 
	bottom: 22px;
}

.upload-header-div-pc
{
	position: absolute;
	bottom: 60.5px;
	right: 228px; 
	color: #ec961b;
	font-size: 140%;
	font-style:bold;
}	

.upload-url-field-disable {
	color: white;	
	background-color: transparent;
    border: 0px solid;
	font-weight: bold;	
}

.upload-url-field {
	width: 175px;
	/* color: red; */
}

.upload-url-field::-webkit-input-placeholder { /* WebKit browsers */
    /*color: #b9b9b9;*/
    font-size: 90%;
}

.upload-file-div-pc 
{
	position: absolute;
	bottom: 10px;
	right: 230px; 
}	

.upload-url-div-pc
{
	position: absolute;
	bottom: 10px;
	right: 10px; 
}	

.app-store-div-pc
{
	position: absolute;
	top: 12.75px;
	right: 215px; 
}	

.app-store-download-free-img-pc
{
	position: absolute;
	top: 5px;
	right: 330px;
	width: 40px;
	
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg); /* IE 9 */
	-webkit-transform:rotate(-30deg); /* Opera, Chrome, and Safari */
	
}

.app-store-download-free-img-ios
{
	position: absolute;
	bottom: 120px;
	left: 20px;
	width: 100px;
	
	-webkit-transform:rotate(-25deg); /* Opera, Chrome, and Safari */
	
}

.app-store-div-ios
{
	position: absolute;
	bottom: 5px;
	left: 5px;
}	

.app-store-img-ios 
{
	height: 140px;
}

.reset-div-pc {
		position: absolute;
		top: 10px;
		left: 200px; 
}

.reset-btn-pc {
	width: 200px;
}

.demo-div-pc {
		position: absolute;
		top: 10px;
		left: 10px; /* chrome 110  */
}

.demo-btn-pc {
	width: 180px;
}

.fb-div-pc {
		position: absolute;
		top: 10px;
		right: 10px; /* chrome 110  */
}

.fb-btn-pc {
}


.reset-btn-ios {
	font-size:50px;
	width: 100%;
	height:150px;
	
}

.reset-div-ios {
	position: absolute;
	top: 0px;
	width:100%;
		 
}

.demo-div-ios {
	visibility:hidden;
	position: absolute;
	top: -1111110px;
	left: -11111110px; 
}

.demo-btn-ios {
}

.fb-div-ios 
{
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 50%;
}

.fb-btn-ios 
{
	font-size: 50px;
	width: 100%;
	height: 140px;
	text-align: center;
}
